<div class="container form">
  <%= form_for [@city, @category, @branch] do |f| %>
    <h4>City: <%= @city.name %></h4> <br>
    <h4>Category: <%= @category.name %></h4> <br>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :organization %><br>
    <%= f.text_field :organization %><br>

    <%= f.label :location %><br>
    <%= f.text_field :location %><br>

    <%= f.label :info %><br>
    <%= f.text_area :info %><br>

    <br>
    <%= f.label :date %><br>
    <%= f.datetime_select :date, order: [:month, :day, :year],
    start_year: Date.current.year, default: Time.now, ampm: true %><br>
    <br>

    <%= f.submit :class => 'submit' %>
  <% end %>
</div>
