<div class="container form">
  <%= form_for [@city, @category, @branch] do |f| %>
    <h4>City: <%= @city.name %></h4> <br>
    <h4>Category: <%= @category.name %></h4> <br>
    <%= f.label :name %>:
    <%= f.text_field :name %><br>

    <%= f.label :organization %>:
    <%= f.text_field :organization %><br>

    <%= f.label :date %>:
    <%= f.text_field :date %><br>

    <%= f.label :location %>:
    <%= f.text_field :location %><br>

    <%= f.label :info %>:
    <%= f.text_area :info %><br>

    <%= f.submit 'Submit Branch' %>
  <% end %>
</div>
