<div class="container" id="form">
  <%= form_for @branch, url:  city_category_branches_path do |f| %>
    <h3><%= city_select(@branch.city, @branch) %></h3><br>
    <%= category_select(@branch.category, @branch) %><br>

    <%= f.label :name %>:
    <%= f.text_field :name %><br>

    <%= f.label :organization %>:
    <%= f.text_field :organization %><br>

    <%= f.label :date %>:
    <%= f.text_field :date %><br>

    <%= f.label :location %>:
    <%= f.text_field :location %><br>

    <%= f.label :info %>:
    <%= f.text_area :info %><br>

    <%= f.submit 'Submit Branch' %>
  <% end %>
</div>
