<% @branches.each do |branch| %>
  <div>
    <h4><b><%= branch.id %> - <%= link_to branch.name, branch_path(branch) %></b></h4></a>
    <h5><%= branch.organization %><br>
    <%= branch.date %><br>
    <%= branch.location %><br>
    <%= branch.info %></h5>
  </div>
  <br>
<% end %>
</div>
