<div class="container">
  <center><%= @branch.name %></center><br>
    <ul>
      <li><%= @branch.organization %></li><br>
      <li><%= @branch.date %></li><br>
      <li><%= @branch.location %></li><br>
      <li><%= @branch.info %></li>
    </ul>
</div>
<div class="buttons">
  <% if policy(@branch).update? %>
    <%= link_to 'Edit', edit_city_category_branch_path(@branch), :class => "btn btn-warning"%>
    <%= link_to 'Delete', city_category_branch_path(@branch), :method => :delete, :class => "btn btn-danger"%>
  <% end %>
    <%= link_to 'Back', city_category_path(@branch.city_id, @branch.category_id), :class => "btn btn-default" %>
</div>
