<div class="container">
  <b><%= @branch.name %><br>
    <ul>
      <li><%= @branch.organization %></li><br>
      <li><%= @branch.date %></li><br>
      <li><%= @branch.location %></li><br>
      <li><%= @branch.info %></li>
    </ul>
</div>
<div class="buttons">
  <% if policy(@branch).update? %>
    <%= link_to 'Edit', edit_branch_path(@branch), :class => "btn btn-warning"%>
    <%= link_to 'Delete', branch_path(@branch), :class => "btn btn-danger"%>
  <% end %>
  <%= link_to 'Back', branches_path, :class => "btn btn-default" %>
</div>
