<div class="container title">
  <h3><b><%= @branch.name %><br></h3>
</div>
<div class="container">
  <ul id="align_left">
    <li><%= @branch.organization %></li><br>
    <li><%= @branch.date.strftime("%b %e, %Y - %l:%M %P") %></li><br>
    <li><%= @branch.location %></li><br>
    <li><%= @branch.info %></li>
  </ul>
</div>

<div>
    <%= link_to "Load Comments", branch_comments_path(@branch), :class => "load_comments btn btn-info" %>
</div>

<div class="comments">
  <ol>
  </ol>
</div>

<%= form_for([@branch, @comment]) do |f| %>
  <%= f.label :comment %><br>
  <%= f.text_area :content %><br>
  <%= f.submit %>
<% end %>

<div class="buttons">
  <% if policy(@branch).update? %>
    <%= link_to 'Edit', edit_city_category_branch_path(@city, @category, @branch), :class => "btn btn-warning"%>
    <%= link_to 'Delete', city_category_branch_path(@city, @category, @branch), :method => :delete, :class => "btn btn-danger"%>
  <% end %>
    <%= link_to 'Back', city_category_path(@city, @category), :class => "btn btn-default" %>
</div>
