<div class="container form">
  <%= form_for @city do |f| %>
    <h3> City Form </h3><br>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>
    <%= f.label :categories %><br>
    <%= f.fields_for :categories do |c| %>
      <%= c.text_field :name %><br><br>
    <% end %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %><br>
    <%= f.submit :class => 'submit' %>
  <% end %>
</div>
