<div class="container" id="form">
  <%= form_for @category, url:  city_categories_path do |f| %>
    <h3><%= @city.name %></h3><br>
    <%= f.label :name %>:
    <%= f.text_field :name %>
    <%= f.submit 'Create Category' %>
  <% end %>
</div>
