<div class="container form">
  <%= form_for @category do |f| %>
    <h3> Category Form </h3><br>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>
    <%= f.label :city %><br>
    <%= f.fields_for :cities do |c| %>
      <%= c.text_field :name %><br><br>
    <% end %>
    <%= f.collection_check_boxes :city_ids, City.all, :id, :name %><br>
    <%= f.submit :class => 'submit' %>
    <% end %>
</div>
