<div class="container title">
  <h3><b><%= @category.name %><br></h3>
</div>
<div class="container">
    <% @branches.each do |branch| %>
      <div class="sub_container">
        <h3><b><%= link_to branch.name, city_category_branch_path(branch.city, branch.category, branch) %></b><h3>
        <ul class="branch">
          <li><h4>Who:</h4><%= branch.organization %></li><br>
          <li><h4>When:</h4><%= branch.date.strftime("%b %e, %Y - %l:%M %P") %></li><br>
          <li><h4>Where:</h4><%= branch.location %></li><br>
          <li><h4>Info:</h4><%= branch.info %></li>
        </ul>
      </div>
    <% end %>
</div>

<div class="buttons">
  <% if policy(@category).update? %>
    <%= link_to 'Edit', edit_category_path(@category), :class => "btn btn-warning"%>
    <%= link_to 'Delete', category_path(@category), :method => :delete, :class => "btn btn-danger"%>
  <% end %>
    <%= link_to "New Branch", new_city_category_branch_path(@city, @category), :class => "btn btn-default" %>
    <%= link_to 'Back', city_path(@city), :class => "btn btn-primary" %>
</div>
