<div class="container title">
  <h3><b><%= @category.name %><br></h3>
</div>
<div class="container">
    <% @branches.each do |branch| %>
      <div class="sub_container">
        <b><%= link_to branch.name, city_category_branch_path(branch.city, branch.category, branch) %></b><br>
          <ul>
            <li><%= branch.organization %></li><br>
            <li><%= branch.date %></li><br>
            <li><%= branch.location %></li><br>
            <li><%= branch.info %></li>
          </ul>
      </div>
    <% end %>
  </div>

<div class="buttons">
  <% if policy(@category).update? %>
    <%= link_to 'Edit', edit_category_path(@category), :class => "btn btn-warning"%>
    <%= link_to 'Delete', category_path(@category), :method => :delete, :class => "btn btn-danger"%>
  <% end %>
  <%= link_to "New Branch", new_city_category_branch_path(@city, @category), :class => "btn btn-success" %>
  <%= link_to 'Back', city_path(@city), :class => "btn btn-default" %>
</div>
