<!DOCTYPE html>
<html>
  <head>
    <title>Branch</title>
    <%= csrf_meta_tags %> <!-- What are thoooosee -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render partial: "layouts/flash_messages", flash: flash %>
    <%= yield %>
  </body>
</html>
